@import "./typography.css";

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Onest', sans-serif;

  --color-gray-100: #F1F4F6;
  --color-gray-200: #EAEEF2;
  --color-gray-300: #E1E6EB;
  --color-gray-400: #D1D8DE;
  --color-gray-500: #8895A0;
  --color-gray-600: #363B3D;
  --color-gray-700: #2C3133;
  --color-gray-800: #212426;
  --color-gray-900: #17181A;

  --color-blue-100: #EFF0FF;
  --color-blue-200: #E8E9FC;
  --color-blue-300: #D7D9FA;
  --color-blue-400: #CCCFFF;
  --color-blue-500: #A0A6FF;
  --color-blue-600: #7780FF;
  --color-blue-700: #5A6BFF;
  --color-blue-800: #495BFF;
  --color-blue-900: #3A4DFC;

  --color-green-100: #E8FAEC;
  --color-green-200: #D6F6DD;
  --color-green-300: #BDF3C8;
  --color-green-400: #B0EBBC;
  --color-green-500: #77D88D;
  --color-green-600: #5DD177;
  --color-green-700: #16CD40;
  --color-green-800: #0AC234;
  --color-green-900: #04B52C;

  --color-red-100: #FEEFF0;
  --color-red-200: #FCE5E6;
  --color-red-300: #FFD7D9;
  --color-red-400: #FFBBC0;
  --color-red-500: #FFA0A7;
  --color-red-600: #FF858D;
  --color-red-700: #F45B69;
  --color-red-800: #ED4C5B;
  --color-red-900: #DF3948;

  --color-yellow-100: #FEFCEF;
  --color-yellow-200: #FFF9DB;
  --color-yellow-300: #FFF7CC;
  --color-yellow-400: #FFF4BA;
  --color-yellow-500: #FFEE94;
  --color-yellow-600: #F9E47A;
  --color-yellow-700: #FFDB1A;
  --color-yellow-800: #F2CC00;
  --color-yellow-900: #E9C607;

  --button-stroke-width: 1px;

}