@import "./typography.css";

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Onest', sans-serif;

  --color-gray-100: #F3F5F6;
  --color-gray-200: #EDEEF0;
  --color-gray-300: #E2E4E8;
  --color-gray-400: #D3D5DC;
  --color-gray-500: #9C9EA3;
  --color-gray-600: #515256;
  --color-gray-700: #28282B;
  --color-gray-800: #1E1F21;
  --color-gray-900: #151617;


  --color-blue-100: #F3F1FF;
  --color-blue-200: #E8E6FC;
  --color-blue-300: #DCD9F9;
  --color-blue-400: #D1CCF9;
  --color-blue-500: #B9B0FC;
  --color-blue-600: #7D70FA;
  --color-blue-700: #5A49F3;
  --color-blue-800: #4F3DF2;
  --color-blue-900: #4431F5;


  --color-green-100: #DDF9E6;
  --color-green-200: #C3F6D4;
  --color-green-300: #B1F0C6;
  --color-green-400: #9FEBB9;
  --color-green-500: #87F4AD;
  --color-green-600: #4BD176;
  --color-green-700: #1BB44C;
  --color-green-800: #12AA43;
  --color-green-900: #0DA13C;


  --color-red-100: #FFEDEB;
  --color-red-200: #FCDFDC;
  --color-red-300: #FAD4CF;
  --color-red-400: #F7C7C1;
  --color-red-500: #FCB2A9;
  --color-red-600: #F17569;
  --color-red-700: #F35749;
  --color-red-800: #ED4637;
  --color-red-900: #EB3A2A;


  --color-yellow-100: #FFF9E5;
  --color-yellow-200: #FFF6D6;
  --color-yellow-300: #FCF0C5;
  --color-yellow-400: #FAEBB4;
  --color-yellow-500: #FDE89B;
  --color-yellow-600: #FFDA56;
  --color-yellow-700: #FFCC14;
  --color-yellow-800: #F7C614;
  --color-yellow-900: #F0C013;

  --zindex-dropdown:                   1000;
  --zindex-sticky:                     1020;
  --zindex-fixed:                      1030;
  --zindex-offcanvas-backdrop:         1040;
  --zindex-offcanvas:                  1045;
  --zindex-modal-backdrop:             1050;
  --zindex-modal:                      1055;
  --zindex-popover:                    1070;
  --zindex-tooltip:                    1080;
  --zindex-toast:                      1090;


  --button-stroke-width: 1px;
}

:root {
  --border-radius-panel: 12px;
  --border-radius-panel-inner: 8px;
  --border-radius-control: 7px;
  --border-radius-control-sm: 5px;
  --border-radius-dropdown: 9px;
  --border-radius-modal: 20px;

  --border-width-default: 2px;

  --opacity-disabled: 0.5;

  --zindex-dropdown: 1060;
  --zindex-sticky: 1020;
  --zindex-fixed: 1030;
  --zindex-offcanvas-backdrop: 1040;
  --zindex-offcanvas: 1045;
  --zindex-modal-backdrop: 1050;
  --zindex-modal: 1055;
  --zindex-popover: 1070;
  --zindex-tooltip: 1080;
  --zindex-toast: 1090;


  /* OLD */
  --bg-backdrop: rgba(0,0,0,0.8);
  --brand-gradient-vertical: linear-gradient(90deg, rgba(32,86,228,1) 0%, rgba(252,32,190,1) 50%, rgba(253,203,76,1) 100%);

/*NEW ---------------*/

  --bg-base: #fff;

/*COLORS • PANEL*/
  --panel-base : #F3F5F6;
  --panel-primary: #FFF9E5;
  --panel-success: #DDF9E6;
  --panel-danger: #FFEDEB;

/*COLORS • LINE*/
  --line-transparent: #FFFFFF00;
  --line-base: #dcdee5;
  --line-control-100: #ababb0;
  --line-control-200: #717178;
  --line-base-emp: #151617;
  --line-primary: #FFE27B;
  --line-primary-emp: #F0C013;
  --line-success: #B6F7CB;
  --line-success-emp: #62CF85;
  --line-danger: #FBC4BF;
  --line-danger-emp: #EA6D60;

/*COLORS • BG*/
  --bg-transparent: #FFFFFF00;

  --bg-base-100: #EDEEF0;
  --bg-base-200: #E2E4E8;
  --bg-base-300: #D3D5DC;
  --bg-base-emp-100: #28282B;
  --bg-base-emp-200: #1E1F21;
  --bg-base-emp-300: #151617;

  --bg-primary-100: #FFF6D6;
  --bg-primary-200: #FCF0C5;
  --bg-primary-300: #FAEBB4;
  --bg-primary-emp-100: #FFCC14;
  --bg-primary-emp-200: #F7C614;
  --bg-primary-emp-300: #F0C013;

  --bg-success-100: #C3F6D4;
  --bg-success-200: #B1F0C6;
  --bg-success-300: #9FEBB9;
  --bg-success-emp-100: #1BB44C;
  --bg-success-emp-200: #12AA43;
  --bg-success-emp-300: #0DA13C;

  --bg-danger-100: #FCDFDC;
  --bg-danger-200: #FAD4CF;
  --bg-danger-300: #F7C7C1;
  --bg-danger-emp-100: #F35749;
  --bg-danger-emp-200: #ED4637;
  --bg-danger-emp-300: #EB3A2A;

/*COLORS • TEXT*/
  --text-base-main: #26272B;
  --text-base-inv: #FFFFFF;
  --text-base-inv-muted: #C1C3CA;
  --text-base-muted: #515256;
  --text-base-placeholder: #9C9EA3;
  --text-base-link: #6846E1;
  --text-primary-main: #C79C00;
  --text-success-main: #0F9E3C;
  --text-danger-main: #D74D3F;
}

/* This needed because ButtonMilk is using global classNames and Tailwind does not see that these variables needed */
/* So I addeded these classNames which are using needed Tailwind CSS variables */
/* Probably when we add other button themes we will be needed to add more classNames (variables) here */
@apply bg-yellow-100 bg-yellow-200 bg-yellow-300 bg-yellow-400 bg-yellow-500 bg-yellow-600 bg-yellow-700 bg-yellow-800 bg-yellow-900;